<div class="panel_top">
	<h2 class="settings_heading" data-bind="i18n: {'key': '%MODULENAME%/HEADING_SETTINGS_TAB'}"></h2>
</div>
<div class="panel_center">
	<div class="fields">
		<div class="fieldset">
			<div class="row">
				<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_TENANT_READ_ACCESS'}"></span>
				<div class="input inputosaurus">
					<div data-bind="customScrollbar: {x: false}">
						<div class="scroll-inner">
							<input type="text" spellcheck="false" tabindex="3" data-bind="initDom: readAccessDom" />
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_TENANT_WRITE_ACCESS'}"></span>
				<div class="input inputosaurus">
					<div data-bind="customScrollbar: {x: false}">
						<div class="scroll-inner">
							<input type="text" spellcheck="false" tabindex="3" data-bind="initDom: writeAccessDom" />
						</div>
					</div>
				</div>
			</div>
		</div>		

		<div class="buttons">
			<span class="button" data-bind="click: save, visible: !isSaving()">
				<span data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_SAVE'}"></span>
			</span>
			<span class="button" data-bind="visible: isSaving()">
				<span data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_SAVE_IN_PROGRESS'}"></span>
			</span>
		</div>
	</div>
</div>
